extends layout

block content
  h1= title
  
  p Rows: #{query.rows}
  p Columns: #{query.cols}

  - let rows = Number(query.rows)
  - let cols = Number(query.cols)

  if !Number.isInteger(rows) || !Number.isInteger(cols) 
    p error: must be integers
  else if rows > 13 || rows < 3 
    p error: rows must be between 3 and 13
  else if cols > 13 || cols < 3 
    p error: columns must be between 3 and 13

  - else 
      table#outer
        - for(let i=0; i<rows; i++) {
          tr#middle
            - for(let j=0; j<cols; j++) {
              td= i - j
            - }
        - }