extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the change.
  button(type="button", class="btn btn-secondary", onclick="faster()") Left
  div#faster Add in extra

  script.
    let value = 1;
    let amt = 2;

    function faster() {
      value += amt * 2;
      document.getElementById("faster").innerText = `Faster ${value} times ${amt}`;
    }
  
  a(href="/rats") Rats